@model List<GCUSMS.ViewModels.TeamVM>

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@{ ViewData["Title"] = "Teams List"; }

<h1 class="text-center mb-4">Teams List</h1>

<div class="col-10 m-3">
    <a class="btn btn-primary btn-xs" asp-controller="DepartmentalTeam" asp-action="SinglePlayerDepartmentalTeamList">
        <i class="fas fa-user"></i> Single Player Teams
    </a>
    |
    <a class="btn btn-success btn-xs" asp-controller="DepartmentalTeam" asp-action="DoublePlayerDepartmentalTeamList">
        <i class="fas fa-users"></i> Double Player Teams
    </a>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-gradient-blue">
            <span class="info-box-icon"><i class="fas fa-baseball-ball"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@ViewBag.TotalCricketTeams</span> <br />
                <span class="info-box-number">Total Cricket  Teams</span>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-gradient-blue">
            <span class="info-box-icon"><i class="fas fa-hockey-puck"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@ViewBag.TotalHockeyTeams</span>
                <span class="info-box-number">Total Hockey Teams</span>
            </div>
        </div>
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-gradient-blue">
            <span class="info-box-icon"><i class="fas fa-table-tennis"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@ViewBag.TotalBadmintonTeams</span>
                <span class="info-box-number">Total Badminton Teams</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-gradient-green">
            <span class="info-box-icon"><i class="fa fa-search"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@ViewBag.TotalTeams</span> <br />
                <span class="info-box-number">Total Teams</span>
            </div>
        </div>
    </div>
</div>


<div>
    <table id="TableData" class="display nowrap table table-striped table-bordered hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Team Logo</th>
                <th scope="col">Team Name</th>
                <th scope="col">Level</th>
                <th scope="col">Department</th>
                <th scope="col">Sports</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var team in Model)
            {
                <tr>
                    <td><img class="img-thumbnail ml-3 mt-2" src="~/images/TeamsLogo/@team.LogoImagePath" style="max-height:150px; max-width:150px;" alt="" /></td>
                    <td>@team.TeamName</td>
                    <td>@team.TeamLevel</td>
                    <td>@team.DepartmentName</td>
                    <td>@team.TeamSports</td>
                    <td>
                        <a asp-controller="DepartmentalTeam" asp-action="EditDepartmentalTeam" asp-route-id="@team.TeamId" class="btn btn-secondary">
                            Details <i class=" fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#TableData').DataTable({

                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return data[1]
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                    }
                },

                dom: 'Bfrtip',
                buttons: [
                    { extend: 'pdf', className: 'btn btn-primary' },
                    { extend: 'print', className: 'btn btn-primary' },
                    { extend: 'copy', className: 'btn btn-primary' },
                    { extend: 'csv', className: 'btn btn-primary' },
                    { extend: 'excel', className: 'btn btn-primary' }
                ]
            });
        });
    </script>
}