@model IEnumerable<GCUSMS.ViewModels.ParticipantVM>

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@{
    ViewData["Title"] = "Participant List";
}

<h1 class="text-center mb-4">Manage Participant Lists</h1>

<p class="text-black-50">List of all the students/players who have submitted their participation forms for different tournaments</p>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="info-box bg-blue">
            <span class="info-box-icon"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.Select(q => q.RequestingStudent.RollNumber).Distinct().Count()</span>
                <span class="info-box-number">Unique Participants</span>
            </div>
        </div>
    </div>
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-building"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.Select(q => q.RequestingStudent.DepartmentName).Distinct().Count()</span>
                <span class="info-box-number">Total Departments</span>
            </div>
        </div>
    </div>
</div>

<table id="TableData" class="display nowrap table table-striped table-bordered hover" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>
                Participant Name
            </th>
            <th>
                Participant Roll number
            </th>

            <th>
                Submission Date
            </th>

            <th>
                Tournament Name
            </th>
            <th>
                Participant Department
            </th>
            <th>
                Selection Status
            </th>
            <th>
                Valid Email
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingStudent.FirstName) @Html.DisplayFor(modelItem => item.RequestingStudent.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RequestingStudent.RollNumber)
            </td>

            <td>
               @item.DateApplied.ToString("MM/dd/yyyy")
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TournamentApplied.TournamentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RequestingStudent.DepartmentName)
            </td>

            @if (item.isSelected == true)
            {
                <td>
                    <span class="badge badge-success">Selected</span>
                </td>
            }
            else if (item.isSelected == false)
            {
                <td>
                    <span class="badge badge-danger">Not Selected</span>
                </td>
            }
            else
            {
                <td>
                    <span class="badge badge-info">Pending</span>
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.ValidEmail)
            </td>

            <td>
                <a class="btn btn-primary" asp-controller="Participants" asp-action="ParticipantDetails" asp-route-id="@item.ParticipantId">
                    Details <i class="fa fa-list-alt"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
    $(document).ready(function () {
        $('#TableData').DataTable({

            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal({
                        header: function (row) {
                            var data = row.data();
                            return data[1]
                        }
                    }),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                }
            },

            dom: 'Bfrtip',
            buttons: [
                { extend: 'pdf', className: 'btn btn-primary' },
                { extend: 'print', className: 'btn btn-primary' },
                { extend: 'copy', className: 'btn btn-primary' },
                { extend: 'csv', className: 'btn btn-primary' },
                { extend: 'excel', className: 'btn btn-primary' }
            ]
        });
    });
    </script>
}