@model IEnumerable<GCUSMS.ViewModels.ParticipantVM>

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@{
    ViewData["Title"] = "Tournament List";
}

<h1 class="text-center mb-4">Participants of this tournament</h1>


<table id="TableData" class="display nowrap table table-striped table-bordered hover" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>
                Participant Name
            </th>
            <th>
                Roll Number
            </th>
            <th>
                Department
            </th>
            <th>
                Tournament
            </th>
            <th>
                Selection Status
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingStudent.FirstName) @Html.DisplayFor(modelItem => item.RequestingStudent.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RequestingStudent.RollNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RequestingStudent.DepartmentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TournamentApplied.TournamentName)
            </td>

            @if (item.isSelected == true)
            {
                <td>
                    <span class="badge badge-success">Selected</span>
                </td>
            }
            else if (item.isSelected == false)
            {
                <td>
                    <span class="badge badge-danger">Not Selected</span>
                </td>
            }
            else
            {
                <td>
                    <span class="badge badge-info">Pending</span>
                </td>
            }

        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
    $(document).ready(function () {
        $('#TableData').DataTable({

            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal({
                        header: function (row) {
                            var data = row.data();
                            return data[0]
                        }
                    }),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                }
            },

            dom: 'Bfrtip',
            buttons: [
                { extend: 'pdf', className: 'btn btn-primary' },
                { extend: 'print', className: 'btn btn-primary' },
                { extend: 'copy', className: 'btn btn-primary' },
                { extend: 'csv', className: 'btn btn-primary' },
                { extend: 'excel', className: 'btn btn-primary' }
            ]
        });
    });
    </script>
}
